.gearlist td:nth-child(4) {
    width: rem-calc(75px);
}


.filter-section{
	margin-bottom: $column-gutter;

}

.label{
	margin-bottom: rem-calc(5);
		cursor: pointer;

}

.filteritem.active{
	background: white;
	color:grey;
}

.page-template-gearpool{
	h3{
		font-size: rem-calc(18);
		font-weight: bold;
	}
}

.tabs-content{
	background: #ddd;
	padding: 5px 20px;
}


.singlegearitem{
	margin-bottom: $column-gutter;
}

.sublistcontainer{
	width: 100%;
	overflow-x: scroll;
	.table{
		min-width: rem-calc(590);
	}
}



.validatr-message{
    margin-top: -16px;
    margin-bottom: 16px;
    display: inherit!important;
    width: 100%!important;
    position: relative!important;
    top: initial!important;
    left: initial!important;
}